@model palacepetz.Models.User.DtoUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Funcionário - PalacePetz</title>
    <link rel="shortcut icon" href="https://www.kauavitorio.com/host-itens/logoPalacePetzMVC.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.kauavitorio.com/palacepetz/Funcionario/Clientes/Editar_Clientes/Editar_Clientes.css">
</head>
<body>
    <nav id="menu">
        <ul id="menu2">
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/logo.png" style="width: 8rem" class="logo"></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/home.png" alt=""><a href="/funcionario" alt="" style="text-decoration:none">home</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/veterinario.png" alt=""><a href="/funcionario/servicos" alt="" style="text-decoration:none">Serviços</a></li>
            @if (@ViewBag.type_user == 3)
            {
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/employee.png" alt=""><a href="/gerente/funcionarios" alt="" style="text-decoration:none">Funcionários</a></li>
            }
            <li id="loc"><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/users.png" alt=""><a href="/clientes" alt="" style="text-decoration:none">clientes</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/products.png" alt=""><a href="/funcionario/funcoes/produtos" alt="" style="text-decoration:none">produtos</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/stats.png" alt=""><a href="/empresa/estatisticas" alt="" style="text-decoration:none">relatório</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/pedidos.png" alt=""><a href="/funcionario/pedidos" alt="" style="text-decoration:none">pedidos</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/info.png" alt=""><a href="/funcionario/infomacoes" alt="" style="text-decoration:none">informações</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/logout.png" alt=""><a href="/logout/1" alt="" style="text-decoration:none">sair</a></li>
        </ul>
    </nav>
    <section>
    @using (Html.BeginForm())
    {
        <h2 class="title">Editar Cliente</h2>
        <h1 class="text">
            <a href="/clientes">Consultar Clientes</a>
        </h1>
        <div class="container">
            <div class="column_one">
                <label class="label">Nome do Cliente</label>
                @Html.EditorFor(model => model.name_user, new { htmlAttributes = new { @class = "field" } })

                <label class="label">CPF do Cliente</label>
                @Html.EditorFor(model => model.cpf_user, new { htmlAttributes = new { @class = "field" } })

                <label class="label">Telefone do Cliente</label>
                @Html.EditorFor(model => model.phone_user, new { htmlAttributes = new { @class = "field" } })

                <label class="label">E-mail</label>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "field" } })

            </div>
            <div class="column_two">
                <label class="label">CEP</label>
                @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "field" } })

                <label class="label">Endereço</label>
                @Html.EditorFor(model => model.address_user, new { htmlAttributes = new { @class = "field" } })

                <label class="label">Complemento</label>
                @Html.EditorFor(model => model.complement, new { htmlAttributes = new { @class = "field" } })

                <label class="label">Senha</label>
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "field" } })

            </div>
        </div>
        <div class="container_btn">
            <input type="submit" class="btn_editar" value="Editar Cliente">
        </div>
    }
    </section>
    <script>

        function Veterinario(){
            var field_select = document.getElementById("field").value;
            if(field_select == 2){
                document.getElementById("crmv").style.display = "flex"
                document.getElementById("crmv").style.flexDirection = "column"
            }  else{
                document.getElementById("crmv").style.display = "none"
            }
        }
    </script>
</body>
</html>